#settings-wrap-x1 {
  position: absolute;
  display: inline-block;
  border: 1px rgb(70, 70, 70) solid;
  z-index: 50;
  height: 100%;
  padding-top: -15px;
  width: 300px;
  background: rgb(55, 55, 55);
}

.settings-api-txt {
  margin: 13px 13px 13px 13px;
  font-size: 19px;
  color: rgb(209, 209, 209);
  text-decoration: none;
  text-shadow: 0 0 3px black;
}

.settings-api-txt:hover {
  color: white;
  text-decoration: none;
}

.settings-api-btn {
  margin: 5px 13px 13px 13px;
  color: rgb(200, 200, 200);
  background: rgb(90, 90, 90);
  padding: 6px 6px 6px 6px;
  border-radius: 3px;
  border: 1px rgb(90, 90, 90) solid;
  transition-duration: 0.3s;
}

.settings-api-btn:hover {
  background: rgb(97, 97, 245);
  color: white;

}

#__settings-api-name-hande__outer {
  margin-bottom: 15px;
  width: 80%!important;
  margin-left: 10px;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 3px;
}

#__settings-api-name-handle {
  margin: 15px 15px 15px 15px!important;
  color: rgb(197, 197, 197);
  text-decoration: none;
}