/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.3s;
}
.ripple:hover {
  background: #424242 radial-gradient(circle, transparent 1%, #424242 1%)
    center/15000%;
}
.ripple:active {
  background-color: #c5c5c5;
  background-size: 100%;
  transition: background 0s;
}
